# Stuff I don't want to sync
joeyr_TODO.R
README.Rmd
todo.txt
*.DS_Store
R_depreciated*
other_scripts*

# R stuff
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rbuildignore
*.Rproj
.Rproj.user
joeyr.Rproj
